
/* BUTTON WITH BOOTSTRAP AND GRID*/
#btn-group {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 8% 25% 3% 25% 6% 25% 8%;
    grid-template-rows: 30% 5% 30% 5% 30%;
    grid-template-areas: 
    ". button1 . button2 . button3 ."
    ". . . . . . ."
    ". button4 . button5 . button6 ."
    ". . . . . . ."
    ". button7 . button8 . button9 .";
    padding-right: 25%;
}
/*
    #foyb {
        display: inline;
    margin-left: 3%;
    margin-right: 5%;   
}

h1 {
    font-weight: 700;
}

#hiw_container {
    margin-bottom: 7%;
    width: 100%;
    display: grid flex;
    grid-auto-flow: row;
    grid-template-areas: "Logo nav_bar nav_bar nav_bar Sign_in" "focus focus focus buttons buttons" "focus focus focus buttons buttons" ". how_it_works how_it_works how_it_works ." "double_card double_card double_card double_card double_card" "double_card double_card double_card double_card double_card" ". random_text random_text random_text ." "double_card2 double_card2 double_card2 double_card2 double_card2" "double_card2 double_card2 double_card2 double_card2 double_card2" ". . try . ." ". . two_butt . ." ". . footer_link . .";
}
.nav_bar {
    grid-area: nav_bar;
    align-self: center;
    
}
#nav_top {
    color: black;
    margin-top: 1.5%;
    font-size: small;
}

h3 {  /*As much of our styling should be done on base tags as possible, makes collaboration easier in the long run. H3 tags for the "mini headers" on each page section.*/
    font-weight: bolder;
}


.HIW_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 1.4fr 1.4fr 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Logo nav_bar nav_bar nav_bar Sign_in" "focus focus focus buttons buttons" "focus focus focus buttons buttons" ". how_it_works how_it_works how_it_works ." "double_card double_card double_card double_card double_card" "double_card double_card double_card double_card double_card" ". random_text random_text random_text ." "double_card2 double_card2 double_card2 double_card2 double_card2" "double_card2 double_card2 double_card2 double_card2 double_card2" ". . try . ." ". . two_butt . ." ". . footer_link . .";
    width: 100%;
    height: 101%;
    font-weight: bold;
}

.header_container { /*Modularized the HIW container so the navber and header work without needing to wrap the whole page*/

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 1.4fr; /*1.4fr 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Logo nav_bar nav_bar nav_bar Sign_in" "focus focus focus buttons buttons" "focus focus focus buttons buttons"; /*". how_it_works how_it_works how_it_works ." "double_card double_card double_card double_card double_card" "double_card double_card double_card double_card double_card" ". random_text random_text random_text ." "double_card2 double_card2 double_card2 double_card2 double_card2" "double_card2 double_card2 double_card2 double_card2 double_card2" ". . try . ." ". . two_butt . ." ". . footer_link . ."*/
    width: 100%;
    height: 101%;

}

.nav_bar {
    grid-area: nav_bar;
    align-self: center;
}

#nav_top {
    color: black;
}


.Sign_in {
    grid-area: Sign_in;
    justify-self: space-between;
    justify-self: center;
    align-self: center;

    margin-left: 10%;
    margin-right: 4%;
}
#signup {
    border-width: 1%;
    border-radius: 10px;
    border-color: #0850F8;
}
#signup:hover {
    background-color: #0850F8;
    border-color: #0850F8;
    color: white;
}

#signup {
    border-radius: 10px;
    border-color: #0850F8;
    width: 100px;
    font-weight: bold;
    border-width: 2px;
    font-size: large;
}

#try {
    border-radius: 10px;
    margin-left: 20px;
    background-color: #0850F8;

}
#try:hover {
    background-color: white;
    border-color: #0850F8;
    color: #0850F8;
}

    font-weight: bold;
    font-size: large;
}

.Logo {
    grid-area: Logo;
    justify-self: center;
    align-self: center;
}



#btn-group {
    align-content: center;
    display: table-column flex;
}
.inside {
    text-align: center;
    font-size: 70%;
  }

#b1 {grid-area: button1;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    overflow-wrap: normal;
}


#b2 {grid-area: button2;
    background-color: white;
    
    border-color: #efefef;
    display: flex;
    align-items: center;
    border-top-left-radius: 30%;
    box-shadow: 5px 5px 5px #efefef;
}

#b3 {grid-area: button3;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 45% 45%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    }

#b4 {grid-area: button4;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 100%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    }

#b5 {grid-area: button5;
    background-color: white;
    border-color: #efefef;
    display: flex;
    align-items: center;
    border-top-right-radius: 55%;
    box-shadow: 5px 5px 5px #efefef;
    }

#b6 {grid-area: button6;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 55%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
}

#b7 { grid-area: button7;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 40%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
}

#b8 {
    grid-area: button8;
    background-color: white;
    border-color: #efefef;
    display: flex;
    align-items: center;
    border-radius: 100%;
    box-shadow: 5px 5px 5px 5px #efefef;
    
}

#b9 {grid-area: button9;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    
}

#btn-signup {
    background-color: #0850F8; 
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    height: 15%;
    width: 22%;
    min-width: 30%;
    display: inline-flex;
  }
  
  #btn-signup:hover {
    background-color: white;
    color: #0850F8;
    border: 2px solid #0850F8;;
  }
  
  #btn-chat {
    background-color: white; 
    color: #0850F8;
    border: 2px solid #0850F8;
    border-radius: 10px;
    height: 15%;
    width: 22%;
    min-width: 30%;
  }


#btn-chat:hover {
    background-color: #0850f8;
    color: white;
  }
  .doubletap {
      margin-top: 4%;
  }
  .trial {
      font-size: 10px;
      margin-top: 6%;
  }


 
=======

.focus {
    grid-area: focus;
}

#Focus {
    font-size: 450%;
    margin-top: 10%;
    margin-left: 11%;
    font-weight: bold;
}

#let {
    font-size: 255%;
    margin-left: 11%;
}

#subs {
    margin-left: 11%;
    margin-top: 2%;
    font-size: 150%;
    color: rgb(151, 151, 151);
    font-weight: bold;
}

#free {
    border-radius: 13px;
    background-color: #0850F8;
    color: white;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 230px;
    height: 60px;
    margin-left: 11%;
    margin-top: 3%;
    font-weight: bold;
    font-size: x-large;
}

#chat {
    border-radius: 13px;
    color: #0850F8;
    border-color: #0850F8;
    font-style: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 230px;
    height: 60px;
    margin-left: 1%;
    margin-top: 3%;
    font-weight: bold;
    border-width: 2px;
    font-size: x-large;
}

#already {
    font-size: 150%;
    margin-left: 11%;
    margin-top: 3%;
    color: gray;
    font-weight: bold;
}

#focus_bottom {
    padding-left: 3%;
}

#focus_bottom1 {
    padding-left: 11%;
}

#focus_bottom2 {
    padding-left: 3%;
    color: #0850F8;
}

.buttons {
    grid-area: buttons;
}

.how_it_works {
    justify-self: center;
    align-self: center;
    grid-area: how_it_works;
    text-align: center;
    margin-top: auto;
    margin-top: auto;  /*Should there be a value here? -Colby*/
    font-weight: bold;
    border-color: rgb(151, 151, 151);
    border-top: solid !important;
}

#How_it_lorem {
    font-size: 150%;
    justify-self: center;
    align-self: center;
    margin-right: 220px;
    margin-left: 220px;
}

.double_card {
    grid-area: double_card;
}

.generic_card_container { /*Since there's a bunch of these they should be made reusable rather than making a new CSS class for each*/

    margin-top: 10rem;
    margin-bottom: 10rem;

}

#colbys_generic_caption_card { /*These cards shoudld be set up so that their content fits them, not the other way around*/
        border-radius: 0px 20px 20px 0px;
        border-style: solid;
        border-width: 2px;
        background-color: #0850F8;
        color: white;
        -ms-flex-align: center;
        text-align: center;
        width: 650px; 
        padding-top: 80px;
        padding-right: 80px;
        padding-left: 40px;
        padding-bottom: 80px;
        text-align:start;
}
#colbys_generic_caption_card .card-text{
    font-weight: bold;
}



#colbys_generic_caption_card ul{
    padding:0;
    list-style-position: inside;
    list-style-type:none;
    font-weight: normal;
    line-height: 2em;
}

#colbys_generic_caption_card button{
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff;
    color:#ffffff;
    padding-left: 5em;
    font-size: larger;
    margin-top: 2rem;
    text-align:center; /*I would try putting something here to center the text vertically, but who knows how*/
}

#colbys_generic_caption_card button i{
    margin-left:2em;
}

#colbys_generic_picture_card {
        border-radius: 20px 0px 0px 20px;
        border-style: solid;
        border-width: 2px;
        -ms-flex-align: center;
        width:25%;
        height: 560px;
}

#DC0 {
    float: center;
    justify-self: center;
    align-self: center;
    margin-top: 60px;
    margin-left: 40px;
    height: 300px;
}

#DC1 {
    border-radius: 20px 0px 0px 20px;
    border-style: solid;
    border-width: 2px;
    -ms-flex-align: center;
    width: 40%;
    height: 400px;
}

#DC2 {
    border-radius: 0px 20px 20px 0px;
    border-style: solid;
    border-width: 2px;
    background-color: #0850F8;
    color: white;
    -ms-flex-align: center;
    text-align: center;
    width: 650px;
}

#DC_2 {
    margin-top: 80px;
    margin-right: 100px
}

#DC_2_1 {
    text-align: start;
    margin: 80px;
    font-size: 100%;
}

.random_text {
    justify-self: center;
    align-self: center;
    grid-area: how_it_works;
    text-align: center;
    margin-top: 11%;
    grid-area: random_text;
    font-weight: bold;
}

#lorem {
    font-size: 150%;
    justify-self: center;
    align-self: center;
    font-size: 120%;
    margin-bottom: 50px;
    font-weight: bold;
    margin-right: 220px;
    margin-left: 220px;
}

.double_card2 {
    grid-area: double_card2;
}

#DC3 {
    border-style: none;
    float: right;
}

#DC4 {
    border-radius: 0px 20px 20px 0px;
    border-style: solid;
    border-width: 2px;
    background-color: #0850F8;
    color: white;
    -ms-flex-align: center;
    text-align: center;
    align-content: center;
    height: 400px;
}

#DC_4_1 {
    margin-top: 100px;
    margin: 80px;
    font-size: 100%;
}

#DC_4_2 {
    margin-top: 5px;
    text-align: start;
    margin: 80px;
    font-size: 100%;
}

.try {
    grid-area: try;
}

.two_butt {
    grid-area: two_butt;
}

#divider {
    height:1px;
    background-color: black;
    margin-top:10rem;
}

#explore_buttons{
    width:80%;
    margin:auto;
}

#explore_buttons button{
    width:115px;
    height:115px;
    margin-top: 10px;
    border-color: black;
    background-color: #fefefe;
    border-radius: 10px;
}


#explore_buttons img{
height: 30%;
}
#explore_buttons #payments{
    height:50%;
}

#explore_buttons button:hover{ 
    background-color: #0850F8;
    color:#fefefe;
}

.footer_link {
    grid-area: footer_link;
}
/*Emily Section*/

.footer{
    text-align: center;
    color: white;
    background-color: rgba(0, 60, 255, 0.966);
    padding-top: 2%;
    height: 350px;
    }
.h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.chat{
    background-color: white;
    border: 5px solid white;
    width: 150px;
    border-radius: 5px;
}
.get-started{
    background-color: rgb(39, 192, 18);
    border: 5px solid rgb(39, 192, 18);
    width: 150px;
    border-radius: 5px;
}
.analytics{ 
        height: 75px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.Calendar{
    height: 75px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.email{
    height: 75px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.task{
    height: 75px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.learn-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

