.HIW_container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.3fr 1.3fr 1.4fr 1.4fr 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Logo nav_bar nav_bar nav_bar Sign_in"
      "focus focus focus buttons buttons"
      "focus focus focus buttons buttons"
      "focus_bottem how_it_works how_it_works how_it_works ."
      "double_card double_card double_card double_card double_card"
      "double_card double_card double_card double_card double_card"
      ". random_text random_text random_text ."
      "double_card2 double_card2 double_card2 double_card2 double_card2"
      "double_card2 double_card2 double_card2 double_card2 double_card2"
      "footer footer footer footer footer"
      "footer footer footer footer footer"
      "footer footer footer footer footer"; 
    font-weight: bold;
}

.nav_bar {
    grid-area: nav_bar;
    align-self: center;
}

#nav_top {
    color: black;
}

.Sign_in {
    grid-area: Sign_in;
    justify-self: space-between;
    justify-self: center;
    align-self: center;
}

#signup {
    border-radius: 10px;
    border-color: #0850F8;
    width: 100px;
    font-weight: bold;
    border-width: 2px;
    font-size: large;
}

#try {
    border-radius: 10px;
    margin-left: 20px;
    background-color: #0850F8;
    font-weight: bold;
    font-size: large;
}

.Logo {
    grid-area: Logo;
    justify-self: center;
    align-self: center;
}

.focus {
    grid-area: focus;
}

#focus_link1 {
    font-weight: bolder;
}

#Focus {
    font-size: 450%;
    margin-top: 10%;
    margin-left: 11%;
    font-weight: bold;
}

#let {
    font-size: 255%;
    margin-left: 11%;
}

#subs {
    margin-left: 11%;
    margin-top: 2%;
    font-size: 150%;
    color: rgb(151, 151, 151);
    font-weight: bold;
}

#free {
    border-radius: 13px;
    background-color: #0850F8;
    color: white;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 230px;
    height: 60px;
    margin-left: 11%;
    margin-top: 3%;
    font-weight: bold;
    font-size: x-large;
}

#chat {
    border-radius: 13px;
    color: #0850F8;
    border-color: #0850F8;
    font-style: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 230px;
    height: 60px;
    margin-left: 1%;
    margin-top: 3%;
    font-weight: bold;
    border-width: 2px;
    font-size: x-large;
}

#already {
    font-size: 150%;
    margin-left: 11%;
    margin-top: 3%;
    color: gray;
    font-weight: bold;
}

#focus_bottom {
    padding-left: 3%;
}

#focus_bottom1 {
    padding-left: 11%;
}

#focus_bottom2 {
    padding-left: 3%;
    color: #0850F8;
}

/*vvvvv Code Completed By Aaron Romani vvvvvv*/

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "button1 button2 button3" "button4 button5 button6" "button7 button8 button9";
    grid-area: buttons;
    padding: 80px;
}

.inside {
    text-align: center;
    font-size: 130%;
}

#b1 {
    grid-area: button1;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

#b2 {
    grid-area: button2;
    background-color: white;
    border-color: #efefef;
    display: flex;
    align-items: center;
    border-top-left-radius: 30%;
    box-shadow: 5px 5px 5px #efefef;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

#b3 {
    grid-area: button3;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 45% 45%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

#b4 {
    grid-area: button4;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 100%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

#b5 {
    grid-area: button5;
    background-color: white;
    border-color: #efefef;
    display: flex;
    align-items: center;
    border-top-right-radius: 55%;
    box-shadow: 5px 5px 5px #efefef;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

#b6 {
    grid-area: button6;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 55%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

#b7 {
    grid-area: button7;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 40%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

#b8 {
    grid-area: button8;
    background-color: white;
    border-color: #efefef;
    display: flex;
    align-items: center;
    border-radius: 100%;
    box-shadow: 5px 5px 5px 5px #efefef;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

#b9 {
    grid-area: button9;
    background-color: #0850F8;
    color: white;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50%;
    box-shadow: 5px 5px 8px 8px #eeeeee;
    overflow-wrap: normal;
    justify-content: center;
    width: 80%;
    height: 90%;
}

/*^^^^^ Code Completed By Aaron Romani ^^^^^*/

.how_it_works {
    justify-self: center;
    align-self: center;
    grid-area: how_it_works;
    text-align: center;
    font-weight: bold;
    border-color: rgb(151, 151, 151);
    border-top: solid !important;
}

#How_it_lorem {
    font-size: 150%;
    justify-self: center;
    align-self: center;
    margin-right: 220px;
    margin-left: 220px;
}

.double_card {
    grid-area: double_card;
}

#DC0 {
    float: center;
    justify-self: center;
    align-self: center;
    margin-top: 60px;
    margin-left: 40px;
    height: 300px;
}

#DC1 {
    border-radius: 20px 0px 0px 20px;
    border-style: solid;
    border-width: 2px;
    -ms-flex-align: center;
    width: 40%;
    height: 400px;
}

#DC2 {
    border-radius: 0px 20px 20px 0px;
    border-style: solid;
    border-width: 2px;
    background-color: #0850F8;
    color: white;
    -ms-flex-align: center;
    text-align: center;
    width: 650px;
}

#DC_2 {
    margin-top: 80px;
    margin-right: 100px
}

#DC_2_1 {
    text-align: start;
    margin: 80px;
    font-size: 100%;
}

.random_text {
    justify-self: center;
    align-self: center;
    grid-area: how_it_works;
    text-align: center;
    margin-top: 11%;
    grid-area: random_text;
    font-weight: bold;
}

#lorem {
    font-size: 150%;
    justify-self: center;
    align-self: center;
    font-size: 120%;
    margin-bottom: 50px;
    font-weight: bold;
    margin-right: 220px;
    margin-left: 220px;
}

.double_card2 {
    grid-area: double_card2;
}

#DC3 {
    border-style: none;
    float: right;
}

#DC4 {
    border-radius: 0px 20px 20px 0px;
    border-style: solid;
    border-width: 2px;
    background-color: #0850F8;
    color: white;
    -ms-flex-align: center;
    text-align: center;
    align-content: center;
    height: 400px;
}

#DC_4_1 {
    margin-top: 100px;
    margin: 80px;
    font-size: 100%;
}

#DC_4_2 {
    margin-top: 5px;
    text-align: start;
    margin: 80px;
    font-size: 100%;
}

.try {
    grid-area: try;
}

.two_butt {
    grid-area: two_butt;
}

/*vvvvv Code Completed By Emily Li vvvvvv*/

.footer {
    grid-area: footer;
    text-align: center;
    color: white;
    background-color: rgba(0, 60, 255, 0.966);
    padding-top: 2%;
    height: 350px;
    bottom: 0;
}

.h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.chat {
    background-color: white;
    border: 5px solid white;
    width: 150px;
    border-radius: 5px;
}

.get-started {
    background-color: rgb(39, 192, 18);
    border: 5px solid rgb(39, 192, 18);
    width: 150px;
    border-radius: 5px;
}

.analytics {
    height: 75px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Calendar {
    height: 75px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.email {
    height: 75px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.task {
    height: 75px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.learn-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

/*^^^^^ Code Completed By Emily Li ^^^^^*/